# History files
.Rhistory

# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
Read-and-delete-me
/.project
.Rproj.user
inst/doc
# vignette cache
vignettes/.*cache
